{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <script src="https://kit.fontawesome.com/5b32b9aad9.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="header"  >
    <div class="container">
        <nav>
            <img src="/static/images.png" class="logo" >
            <ul id="sidemenu">
                <li><a href="#header">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
                <i class="fa-regular fa-circle-xmark" onclick="closemenu()"></i>

            </ul>
            <i class="fa-solid fa-bars" onclick="openmenu()" style="cursor: pointer;"></i>
        </nav>
        <div class="header-text">
            <p>python developer</p>
            <h1>Hi,I'm <span>Shamon</span><br> Esmail form Kerala</h1>
        </div>
    </div>

</div>
<!-- --------about------------------ -->
<div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="/static/IMG_20220408_225722_767.jpg"  >
            </div>
            <div class="about-col-2">
                <h1 class="sub-ttile">About Me</h1>
                <p>
                    Web development, also known as website development, refers to the tasks associated with creating, building, and maintaining websites and web applications that run online on a browser. It may, however, also include web design, web programming, and database management.
                </p>
                <div class="tab-title">
                    <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>                    
                    <p class="tab-links" onclick="opentab('experiance')">Experiance</p>
                    <p class="tab-links" onclick="opentab('education')">Education</p> 
                </div>
                <div class="tab-contents active-tab" id="skils">
                    <ul>
                        <li><span>Django</span><br>creating website using python</li>
                        <li><span>html</span><br>With HTML you can create your own Website</li>
                        <li><span>css</span><br>Designing web pages</li>

                        
                    </ul>
                </div>
                <div class="tab-contents" id="experiance">
                    <ul>
                        <li><span>Not yet</span><br></li>
                        
                        
                    </ul>
                </div>
                <div class="tab-contents" id="education">
                    <ul>
                        <li><span>2023</span><br>python full stack traning at wozti </li>
                        <li><span>2022</span><br>BCA form Ilahia college of arts and science</li>
                        

                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----------services------------->
<div id="services">
    <div class="container">
        <h1 class="sub-ttile">My Services</h1>
        <div class="services-list">
            <div>
                <i class="fa-solid fa-code"></i>
                <h2>Web Designing</h2>
                <p>Web designing is the process of planning, conceptualizing, and implementing the plan for designing a website in a way that is functional and offers a good user experience.</p>
                <a href="#">Learn more</a>
            </div>
            <div>
                <i class="fa-solid fa-laptop-code"></i>
                <h2>Web development</h2>
                <p> also known as website development, refers to the tasks associated with creating, building, and maintaining websites and web applications that run online on a browser.</p>
                <a href="#">Learn more</a>
            </div>
            <div>
                <i class="fa-brands fa-free-code-camp"></i>
                <h2>App Designing</h2>
                <p>You have to create a structure of the user interface, transitions, and interactions. It must be based on market research, user research, competition, and strategy. You can use wireframing software or you can create a simple outline on a paper. Lay down the user flow as you want it to appear on the actual app.</p>
                <a href="#">Learn more</a>
            </div>

        </div>
    </div>
</div>
<!------- portfolio--------->
<div id="portfolio">
    <div class="container">
        <h1 class="sub-ttile">My Work</h1>
        <div class="work-list">
            <div class="work">
                <img src="/static/download.jpg" >
                <div class="layer">
                    <h2>Social Media App</h2>
                    <p>The app connects you yo the talented people around the world.
                        Download it form play store.</p>
                    <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>    
                </div>
            </div>
            <div class="work">    
                <img src="/static/download (1).jpg" >
                <div class="layer">
                    <h2>Music App</h2>
                    <p>The app connects you yo the talented people around the world.
                        Download it form play store.</p>
                    <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>    
                </div>
            </div> 
            <div class="work">    
                <img src="/static/download (2).jpg" >
                <div class="layer">
                    <h2>Online Shopping App</h2>
                    <p>The app connects you yo the talented people around the world.
                        Download it form play store.</p>
                    <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>    
                </div>
            </div>
        </div>
        <a href="#" class="btn">See more</a>
    </div>
</div>

<!---------------contact-------------->
<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-ttile">Contact me</h1>
                <p><i class="fa-regular fa-paper-plane"></i> conact@example.com</p>
                <p><i class="fa-solid fa-phone"></i> 0123456789</p>
                <div class="social-icons">
                    <a href="https://facebook.com/"  ><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"  ><i class="fa-brands fa-twitter-square"></i></a>
                    <a href="#"  ><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"  ><i class="fa-brands fa-linkedin"></i></a>

                </div>
                <a href="/static/Shamon Esmail(Resume).pdf" download class="btn btn2">Download CV</a>
            </div>
            <div class="contact-right">
                <form >
                    <input type="text" name="Name" placeholder="Your Name" required>
                    <input type="email" name="email" placeholder="Your Email" required>
                    <input type="Message" row="6" placeholder="Your Message" required>
                    <button type="submit" class="btn btn3">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>copyright @ shamon. made with <i class="fa-solid fa-heart"></i> by easy Tutorials</p>
    </div>
</div>


<script>
    var tablinks = document.getElementsByClassName("tab-links")
    var tabcontents = document.getElementsByClassName("tab-contents")
    function opentab(tabname){
        for(tablink of tablinks){
            tablink.classList.remove("active-link");
        }
        for(tabcontent of tabcontents){
            tabcontent.classList.remove("active-tab");
        }
        event.currentTarget.classList.add("active-link");
        document.getElementById(tabname).classList.add("active-tab")
    }
</script>
<!--------menu------------->
<script>
    var sidemenu = document.getElementById("sidemenu")
    function openmenu(){
        sidemenu.style.right ="0"
    }
    function closemenu(){
        sidemenu.style.right ="-200px"
    }
</script>
</body>
</html>